
.bkg {
  background: #320f77;
  /*	position: fixed;*/
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.mostPopular {
  background-color: #fcfcfc;
  border: 2px solid violet;
  padding: 5px;
  height: 33em;
}

.grey {
  border: 1px solid violet;
  width: 32.5%;
  margin: 5px 5px;
  min-height: 200px;
}

.sidebar {
  border: 1px solid blue;
  height: 30em;

}

.mainContent {
  /*height: 30em;*/
  border: 1px solid midnightblue;
}

.search {
  height: 3em;
}

.brDiv {
  background: beige;
}

/*@media screen and (max-width: 770px) {}*/

