
.bkg {
  background: #320f77;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: beige;
  transform: scale(1.5, 1.5)

}

.mostPopular {
  /*border: 2px solid violet;*/
  padding: 5px;
  height: 30em;
}

.grey {
  border: 1px solid violet;
  width: 24%;
  margin: 5px 5px;
  min-height: 400px;
}

.grey2 {
  border: 1px solid violet;
  width: 19%;
  margin: 7px 7px;
  min-height: 400px;
}

.sidebar {
  min-height: 60em;
  padding-left: 2em;
  background-color: #ffe6ff;
}

.mainContent {
  border: 1px solid violet;
}

.search {
  height: 4em;
}

.detail {
  background-color: lightyellow;
  border: 2px solid violet;
  min-height: 40em;
}

.prazniRed {
  height: 4em;
}

/*@media screen and (max-width: 770px) {}*/

