<div class="row">
  <button class="btn btn-primary" ng-click="addNews()">Add news</button>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-2">
    <form role="search">
      <div class="form-group col-sm-10">
        <input type="text" class="form-control search" placeholder="Search">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Pretrazi vest</button>
      </div>
    </form>
  </div>
</div>

<div class="content">
  <div class="col-md-4 col-sm-6 grey"></div>   <!-- ovde ide ng-repeat -->
  <div class="col-md-4 col-sm-6 grey"></div>
  <div class="col-md-4 col-sm-6 grey"></div>
  <div class="col-md-4 col-sm-6 grey"></div>
  <div class="col-md-4 col-sm-6 grey"></div>
  <div class="col-md-4 col-sm-6 grey"></div>
</div>

<div>
  <div class="col-sm-12 mainContent">
    <!--<div ng-class="{'row': $index % 3 == 2}">-->
    <div class="col-md-4 col-sm-6 grey" ng-repeat="vest in news">
      <h3>{{vest.title}} </h3>
      <br>
      <span class="pull-right">{{vest.created}}</span>
      <!--<p>{{vest.description}}</p>-->
      <p>{{vest.text}}</p>
      <button class="btn btn-danger pull-right" ng-click="removeNews(vest)">Obrisi ovu vest</button>
    </div>
    <!--</div>-->
  </div>
</div>
